/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Basic Font';
    src: url(assets/BP-Diet/BPdiet.otf)
}
@font-face {
    font-family: 'Basic Font Italic';
    src: url(assets/BP-Diet/BPdietItalics.otf);
}

@font-face {
    font-family: 'Thin Font';
    src: url(assets/troika/troika.otf);
}